.main {
    width: 220px;
    height: 220px;
    cursor: pointer;
    /* margin-right: 15px; */
    object-fit: cover;
    transition-duration: .3s;
}
.main:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1170px) {
    
    .main {
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width: 862px) {  
    .main {
        width: 120px;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}

@media screen and (max-width: 400px) {  
    .main {
        width: 100px;
    }
}