.main {
    width: 100%;
}
.slideBut {
    background-color: white !important;
    color: #4B5EA2 !important;
    font-size: 26px;
}
.slider div::before {
    display: none;
}
/* .slider > div > div > div {
    width: fit-content !important;
    margin-right: 1%
} */