.main {
    width: 100%;
    margin-bottom: 75px;
}
.header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #4B5EA3;
    text-decoration: none;
}
.main h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #3B3F61;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #4B5EA2;
    margin-bottom: 16px;
}
.main span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #37395C;
}
.header {
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.phone {
    width: 281px;
}
.phoneNumbers {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    box-sizing: border-box;
    gap: 8px;
}
.phoneNumbers a:hover {
    text-decoration: underline;
}
.info {
    display: flex;
    width: calc(100% - 281px);
}
.infoBlock {
    width: 80%;
}
.items {
    display: flex;
    gap: 10%;
    width: 100%;
}
.days {
    display: flex;
    flex-direction: column;
}
.social {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social a svg {
    font-size: 24px;
}
.bot {
    margin-top: 90px;
    width: 100%;
    display: flex;
}
.address {
    width: 281px;
}
.map {
    width: calc(100% - 281px);
}
.bot iframe {
    width: 100% !important;
    height: 370px;
    border: none;
}
.bot address {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #4B5EA3;
}

@media screen and (max-width:1170px) {
    .items {
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (max-width: 862px) {
    .info {
        width: 70%;
    }
    .phone {
        width: 30%;
    }
    .infoBlock {
        width: 70%;
    }
    .address {
        width: fit-content;
    }
    .bot {
        gap: 24px;
    }
    .map {
        width: 70%;
    }
}

@media screen and (max-width: 568px) {
    .header {
        flex-direction: column;
        width: 100%;
        gap: 32px;
        align-items: center;
    }
    .info {
        flex-direction: column;
        width: 100%;
        gap: 32px;
        align-items: center;
    }
    .bot {
        flex-direction: column;
        margin-top: 32px;
    }
    .address {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .map {
        width: 100%;
    }
    .infoBlock {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .items {
        align-items: center;
    }
    .phoneNumbers {
        padding-left: 0;
        align-items: center;
    }
    .phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main {
        margin-bottom: 25px;
    }
    .days {
        align-items: center;
    }
}