.main {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.main img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.main a {
    font-size: 14px;
    color: #37395C;
    text-decoration: none;
}
.main a::first-letter {
    text-transform: capitalize;
}
.main a:hover {
    text-decoration: underline;
    color: #D56886;
}
.main span {
    font-size: 12px;
    color: #37395C;
    text-decoration: none;
}