.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100vh - 110px);
    box-shadow: 1px 0px 16px -13px black;
    border-bottom-right-radius: 8px; 
    border-top-right-radius: 8px; 
}
.main button {
    font-size: 16px;
    text-transform: initial;
    display: flex;
    align-items: center;
    height: 60px;
    color: #4B5EA2;
}
.main svg {
    font-size: 20px;
}
.main button a{
    width: 100%;
    height: 100%;
    color: #4B5EA2;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.main button a.active{
    color: #ee9cc4;
}

.main span {
    margin-left: 10px;
}