.main {
    width: 50%;
}
.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.buttons button {
    background-color: transparent !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    text-transform: initial !important;
    padding: 0 !important;
    font-family: 'Montserrat' !important;
    margin-top: 29px !important;
}
.buttons button:hover {
    text-decoration: underline;
}
.cancel {
    color: #D56886 !important;
}
.save {
    color: #4B5EA3 !important;
}
.row {
    width: 100%;
    display: flex;
    gap: 16px;
}
.field div {
    /* height: 40px !important; */
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
}
.field input {
    font-size: 14px !important;
    background-color: white;
    padding: 15px 16px;
    font-family: 'Montserrat' !important;
}
.phone input {
    padding-left: 0 !important;
}
.field label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #37395C;
}
.lastField {
    margin-top: 20px !important;
}

@media screen and (max-width: 1170px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .row {
        flex-direction: column;
        gap: 0px;
    }
}