.main {
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, .1);
    padding-bottom: 25px;
    color: #4B5EA3;
}
.header button {
    color: #4B5EA3;
}
.imgPreview {
    width: 100px;
    object-fit: cover;
    height: 100px;
    border-radius: 4px;
}
.tableContainer {
    max-height: calc(100vh - 280px)
}
.tableContainer thead th {
    font-weight: bold;
    font-size: 16px;
    background-color: #4B5EA3;
    color: white;
    cursor: pointer;
}
.tableContainer thead th:hover {
    text-decoration: underline;
}
.addBut {
    background-color: #4B5EA3 !important;
    color: white !important;
    border-radius: 4px !important;
    padding: 0 10px !important;
    height: 55px;
}
.topController {
    display: flex;
    align-items: center;
    gap: 25px;
}
.isActualContainer {
    width: fit-content;
    display: flex;
    padding: 10px 0;
}
.isActualContainer span {
    font-size: 14px;
}
.footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoCell {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.filter {
    margin-left: auto;
    font-size: 14px;
    color: #4B5EA3;
    text-align: right;
    font-weight: 700;
}
.table {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 568px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .topController {
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 8px;
        gap: 16px;
    }
    .topController > div {
        width: 100% !important;
    }
    .topController button {
        width: 100% !important;
    }
    .imgPreview {
        width: 60px;
        height: 60px;
    }
    .tableContainer th {
        text-align: center;
    }
    .tableContainer thead th {
        font-size: 12px;
        padding: 8px !important;
    }
    .tableContainer td {
        font-size: 12px !important;
        padding: 8px !important;
    }
    .isActualContainer span {
        font-size: 12px;
    }
    .footerContainer {
        flex-direction: column;
        align-items: flex-start;
    }
}