.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemsContainer {
    width: 100%;
    display: flex;
    gap: 24px;
}
.filter {
    width: 257px;
    margin-top: 20px;
}
.wrapper {
    width: calc(100% - 257px);
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 65px;
    margin-top: 20px;
    min-height: 60vh;
    margin-bottom: 45px;
}
.empty {
    text-align: center;
    font-size: 16px;
    color: #37395C;
}
.sort {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Montserrat' !important;
}
.sort div {
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
    color: #4B5EA3;
    font-size: 14px;
}
.sort div > div::before {
    border-bottom: none !important;
}
.sort label {
    font-size: 14px;
    color: #37395C;
}
.filterMobile {
    display: none;
}

@media screen and (max-width: 1366px) {
    .wrapper {
        gap: 1%;
        row-gap: 65px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        gap: 10.6%;
        row-gap: 45px;
    }
}

@media screen and (max-width: 1170px) {
    .filter {
        display: none;
    }
    .wrapper {
        width: 100%;
        margin-top: 40px;
    }
    .filterMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }   
}

@media screen and (max-width: 768px) {
    .wrapper > div {
        width: 44%;
    }
}

@media screen and (max-width: 468px) {
    .wrapper > div {
        width: 100%;
    }
    .wrapper img {
        height: auto;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 24px;
    }
}