.main{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.header{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.link a{
    text-decoration: none;
    color: rgba(55, 57, 92, .7);
}
.link a:hover{
    text-decoration: underline;
}
.active a{
    text-decoration: none;
    color: rgba(55, 57, 92, 1);
}
.header img{
    margin-left: 14px;
    margin-right: 14px;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.body h1{
    color: rgb(75, 94, 163);
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #37395C;
}
.leftSide{
    width: calc(75% - 60px);
}
.rightSide{
    width: 23%;
    padding: 30px;
    border-radius: 20px;
    background-color: #E6E8E8;
    height: max-content;
}
.law{
    display: flex;
}
.law i{
    font-size: 170px;
    margin-right: 25px;
    color: #4B5EA3;
}
.law p{
    margin-block-start: 0;
    font-size: 14px;
}
.law a{
    text-decoration: none;
    color: #4B5EA3;
}
.law a:hover{
    color: rgb(18, 26, 189);
}
.deliveryPrice{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.deliveryPrice p{
    font-size: 15px;
}
.rightSideContainer{
    display: flex;
    flex-direction: column;
}
.rightSideContainer h3{
    margin-block-start: 0;
    font-size: 16px;
    margin-block-end: 12px;
}
.rightSideContainer p{
    margin-block-start: 0;
    line-height: 24px;
    font-size: 13px;
}
.rightSide a{
    color: #4B5EA3;
}

.types{
   width: 100%;
   display: flex;
   flex-direction: column; 
   margin-top: 25px;
}
.types h2 {
    margin-bottom: 16px;
}
.backs {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.label_one{
    background-color: #4B5EA3;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}
.label_three{
    background-color: #E86589;
}
.label_two{
    background-color: #9DC8CF;
}
.deliveryInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deliveryInfo button {
    color: white !important;
}
.deliveryInfo button svg {
    transition-duration: .3s;
}
.active svg {
    transform: rotate(45deg);
}
.deliveryInfo span{
    font-weight: bold;
}
.time{
    font-size: 12px;
    font-weight: 500 !important;
    margin-top: 5px;
}
.law {
    display: flex;
    align-items: center;
    gap: 16px
}
.law svg {
    font-size: 300px;
    height: fit-content;
    color: #4B5EA3
}
.type{
    height: 0;
    box-sizing: border-box;
    transition-duration: 0.3s;
    border: none;
    margin-left: 0;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
}
.typeContent{
    display: flex;
    visibility: hidden;
    color: #37395C;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.typeOne{
    margin-top: 10px;
    padding-bottom: 20px;
    height: max-content;
}
.typeContentOne{
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
}


.typeTwo{
    margin-top: 10px;
    padding-bottom: 20px;
    height: max-content;
}
.typeContentTwo{
    padding-top: 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    visibility: visible;
}

.typeThree{
    margin-top: 10px;
    padding-bottom: 20px;
    height: max-content;
}
.typeContentThree{
    padding-top: 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    visibility: visible;
}
.type ol li{
    margin-top: 10px;
}
.type ol li::marker{
    font-size: 16px;
    font-weight: 600;
    color: #E86589;
}

@media screen and (max-width: 1170px){
    .main{
        width: 100%;
        margin-bottom: 50px;
    }
    .content{
        flex-direction: column;
    }
    .leftSide{
        width: 100%;
    }
    .rightSide{
        width: 100%;
        box-sizing: border-box;
    }
    .types{
        box-sizing: border-box;
    }
    .types label{
        width: 100%;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 568px) {
    .law svg {
        display: none;
    }
    .main a {
        word-break: break-all;
    }
    .main ol {
        word-break: break-all;
        padding-left: 10px;
    }
}

@media screen and (max-width: 468px) {
    .main span {
        font-size: 14px;
    }
    .main li {
        font-size: 14px;
    }
    .main a {
        font-size: 14px;
    }
    .main h1 {
        font-size: 24px;
        padding: 20px 0;
    }
}