.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}
.type {
    width: 100%;
}
.type div {
    width: 100%;
}

.submit {
    background-color: #4B5EA3 !important;
    color: white !important;
    border-radius: 4px !important;
    padding: 0 10px !important;
    height: 55px;
}
.submit:disabled {
    background-color: gray !important;
}