.main {
    width: 100%;
}
.slideBut {
    background-color: white !important;
    color: #4B5EA2 !important;
    font-size: 26px;
}
.slider {
    height: 456px !important;
}
.slider div::before {
    display: none;
}
.slider > div {
    width: 115px;
}
.slider > div:nth-child(2) {
    height: 456px !important;
}
