.main {
    background-color: #E86589;
    color: white !important;
    text-transform: uppercase;
    position: absolute;
    right: -15px;
    top: 25px;
    z-index: 2;
    padding: 4px 10px;
    font-weight: 700;
    font-size: 14px;
}
.new {
    background-color: #4B5EA3;
}
.currency {
    font-size: 8px !important;
}

@media screen and (max-width: 468px) {
    .main {
        right: 0;
        font-size: 16px;
    }
}