.main {
    height: 40vh;
}
.table {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 16px;
    max-height: 40vh;
    overflow-y: scroll;
}
.empty {
    font-size: 14px;
    color: #37395C;
}
.table a {
    font-size: 14px;
    color: #E86589;
    margin-top: 8px;
    display: block;
}