.main {
    display: flex;
    align-items: center;
    gap: 20px;
}
.main button {
    font-size: 24px;
    padding: 10px;
}
.main button svg {
    color: #2B629C;
    font-size: 28px;
}
.tooltip {
    padding: 0 !important;
    max-width: unset !important;
    font-family: 'Montserrat' !important;
    font-size: inherit !important;
    background-color: transparent !important;
}
.arrow {
    color: #E86589 !important;
}