.main {
    width: 100%;
}
.body {
    display: flex;
    z-index: 1;
    margin-top: 30px;
}
.content {
    width: 100%;
    margin-left: 50px;
    background-color: white;
    box-shadow: -1px 0 16px -13px black;
    box-sizing: border-box;
    padding: 30px;
    border-top-left-radius: 8px; 
    box-sizing: border-box;
    height: calc(100vh - 110px)
}
.title {
    border-bottom: 1px solid rgba(128, 128, 128, .1);
    padding-bottom: 25px;
    color: #4B5EA3;
}

@media screen and (max-width: 1440px) {
    .content {
        height: calc(100vh - 110px);
    }
}

@media screen and (max-width: 1170px) {
    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 568px) {
    .content {
        padding: 15px;
    }
}