.main {
    display: flex;
    align-items: center;
}
.row {
    flex-direction: row;
    gap: 8px;
}
.column {
    flex-direction: column;
    gap: 5px;
}
.main button {
    padding: 8px !important;
    border-radius: 50% !important;
}
.main button svg {
    font-size: 20px !important;
}
.editBut {
    background-color: #4B5EA3 !important;
    color: white !important;
}
.editBut:hover {
    background-color: #3d53a3 !important;
}
.delBut {
    background-color: #DD6450 !important;
    color: white !important;
}
.delBut:hover {
    background-color: #d44d35 !important;
}

@media screen and (max-width: 568px) {
    .row {
        flex-direction: column;
        gap: 5px;
    }
    .editBut {
        margin-right: 0 !important;
    }
    .delBut {
        margin-left: 0 !important;
    }
}